@model IEnumerable<WebApplication1.Models.Aluno>

@{
    ViewBag.Title = "Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alunos</h2>
<h3 class="text-danger">@ViewBag.message</h3>
<p>
    @Html.ActionLink("Create New", "CreateAluno")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turma)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAluno", new { num = item.Num}) |
            @Html.ActionLink("Details", "DetailsAluno", new { num = item.Num }) |
            @Html.ActionLink("Delete", "DeleteAluno", new { num = item.Num })
        </td>
    </tr>
}
</table>
