@model WebApplication1.Models.Aluno

@{
    ViewBag.Title = "Aula_1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Aula_1:</h1>
<h3 class="text-danger">Escola: @ViewBag.escola</h3>
<h5>Turma: @ViewData["turma"]</h5>
<h5>Disciplina: @TempData.Peek("disciplina")</h5>
<fieldset>
    <legend>Aluno</legend>
    Num: @Model.Num<br />
    Nome: @Model.Nome<br />
    Turma: @Model.Turma<br />
</fieldset>

<div class="form-group">
    <h3>Cálculo do Dobro de um número</h3>
    @using (Html.BeginForm("Aula_1", "Home", FormMethod.Post, new { id = "frm" }))
    {
        <label>Num: </label>
        @Html.TextBox("txtnum", "", new { @class = "form-control" })
        <label>Resultado: </label>
        <input type="text" id="txtrslt" name="txtrslt" class="form-control" value="@ViewBag.dobro" />
        <hr />
        <button type="submit" class="btn btn-dark" id="btserver" name="btserver">Click Server</button>
        <button type="button" class="btn btn-danger" id="btjavascript" name="btjavascript">Click JavaScript</button>
        <button type="button" class="btn btn-success" id="btfetch" name="btfetch">Click Fetch</button>

    }

    @section istec{
        <style>

        </style>
        <script>
            window.onload = function () {
                let txtnum = document.getElementById("txtnum");
                let txtrslt = document.getElementById("txtrslt");
                let btjavascript = document.getElementById("btjavascript");

                btjavascript.addEventListener("click", (evt) => {
                    evt = evt ? evt : window.event;
                    evt.preventDefault();
                    txtrslt.value = parseInt(txtnum.value) * 2;
                });

                let btfetch = document.getElementById("btfetch");
                btfetch.addEventListener("click", (evt) => {
                    urldata = new URLSearchParams();
                    urldata.append("num", txtnum.value);
                    fetch('@Url.Action("/Dobro")', {
                        method: 'post',
                        body: urldata
                    }).then(response => response.json())
                        .then(dobro => {
                            console.log(dobro);
                            txtrslt.value = dobro.Dobro;
                        }).catch(erro => { console.error(erro) });
                });
            };
        </script>
    }
</div>